@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.753);
}

body {
  background-color: #513aad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(white));
  background: linear-gradient(#000, white);
  -webkit-clip-path: circle(35% at 25% 20%);
          clip-path: circle(35% at 25% 20%);
}

h1 {
  position: absolute;
  text-align: center;
  font-size: 5rem;
  top: 5%;
  left: 37.5%;
  -webkit-filter: drop-shadow(2px 7px 3px rgba(255, 255, 255, 0.5)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 7px 3px rgba(255, 255, 255, 0.5)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

@media (max-width: 768px) {
  h1 {
    top: 7%;
    font-size: 3rem;
    left: 10%;
  }
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.players h2 {
  position: absolute;
}

.players h2:first-of-type {
  top: 30%;
  right: 68%;
}

@media (max-width: 768px) {
  .players h2:first-of-type {
    top: 70%;
    right: 35%;
  }
}

.players h2:last-of-type {
  display: none;
  top: 30%;
  left: 68%;
}

@media (max-width: 768px) {
  .players h2:last-of-type {
    top: 70%;
    left: 35%;
  }
}

.players .playerOne {
  position: absolute;
  top: 35%;
  right: 67%;
}

.players .playerOne:after {
  content: '\1F9DB';
  font-size: 7.5rem;
}

@media (max-width: 768px) {
  .players .playerOne:after {
    top: 70%;
    left: 35%;
  }
}

@media (max-width: 768px) {
  .players .playerOne {
    top: 74%;
    left: 39%;
  }
  .players .playerOne:after {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

.players .playerTwo {
  display: none;
  position: absolute;
  top: 35%;
  left: 66%;
}

.players .playerTwo:after {
  content: '\1F9D9';
  font-size: 7.5rem;
}

@media (max-width: 768px) {
  .players .playerTwo {
    top: 74%;
    left: 39%;
  }
  .players .playerTwo:after {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .square {
  width: 8.25rem;
  height: 8.25rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid gray;
  display: inline-block;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 2;
}

@media (max-width: 768px) {
  .container .square {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.container .playerO {
  position: relative;
}

.container .playerO:after {
  position: absolute;
  content: '\1F9DB';
  font-size: 4.5rem;
  line-height: 8.25rem;
  left: 15%;
}

@media (max-width: 768px) {
  .container .playerO:after {
    font-size: 2.5rem;
    line-height: 5.25rem;
    left: 20%;
  }
}

.container .playerX {
  position: relative;
}

.container .playerX:after {
  position: absolute;
  content: '\1F9D9';
  font-size: 4.5rem;
  line-height: 8.25rem;
  left: 10%;
}

@media (max-width: 768px) {
  .container .playerX:after {
    font-size: 2.5rem;
    line-height: 5.25rem;
    left: 20%;
  }
}

.background {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
}

.youWin {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 20rem;
  height: 20rem;
  background: #333333;
  z-index: 4;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .youWin {
    width: 16rem;
    height: 16rem;
  }
}

.youWin p {
  font-size: 1.5rem;
  position: absolute;
  bottom: 75%;
}

.youWin .winnerplayerO {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.youWin .winnerplayerO:after {
  position: absolute;
  content: '\1F9DB';
  font-size: 5.5rem;
}

@media (max-width: 768px) {
  .youWin .winnerplayerO:after {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

.youWin .winnerplayerX {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.youWin .winnerplayerX:after {
  position: absolute;
  content: '\1F9D9';
  font-size: 5.5rem;
}

@media (max-width: 768px) {
  .youWin .winnerplayerX:after {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

.youWin .winnerOldWoman {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.youWin .winnerOldWoman:after {
  position: absolute;
  content: '\1F475';
  font-size: 5.5rem;
}

@media (max-width: 768px) {
  .youWin .winnerOldWoman:after {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

.youWin .playAgain {
  position: absolute;
  top: 80%;
  padding: .5rem .7rem .6rem .5rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

@media (max-width: 768px) {
  .youWin .playAgain {
    padding: .4rem .6rem .5rem .4rem;
    top: 78%;
    font-size: .8rem;
  }
}

footer p {
  font-size: 1rem;
  position: absolute;
  left: 47%;
  bottom: 0;
}

@media (max-width: 768px) {
  footer p {
    left: 35%;
  }
}
/*# sourceMappingURL=style.css.map */